body {
    background-color: #7dbad3;  

}

p {
    color: rgb(255, 0, 0);
}

.red {
    color: red;
    font-size: 72px;
    font-weight: bold;
}

.pink {
    color: rgb(255, 100, 100);
    font-size: 72px;
    font-weight: bold;
}